
/** Configuração do app/*
APP_TITLE=Scada Unity
APP_NAME=Framework
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

/** Configuração do banco de dados/*
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=framework
DB_USER=root
DB_PASSWORD=

/** Configuração do email/*
MAIL_HOST=host
MAIL_PORT=port
MAIL_USERNAME=username
MAIL_PASSWORD=passaword
MAIL_FROM_NAME=name
MAIL_FROM_ADDRESS=address

/** Configurações gerais/*
MAINTENANCE=false
CACHE_DRIVER=file|array|database|redis
/** Configuração do log (psr3 - [emargency,alert,critical,error,warning,notice,info,debug])**/
LOG=false
